body {
    padding-top: 110px;
    background-color: #2c8e78;
    font-family: 'Arial', sans-serif;
}

/*navigation bar*/
.navbar-default {
    position: fixed;
    background-color: #fff;
    border: none;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.25);
}

.navbar-default .navbar-brand {
    height: 110px;
    line-height: 55px;
}

.navbar-default .navbar-title {
    text-decoration: none;
}

.navbar-default .navbar-title h1 {
    width: 400px;
    line-height: 55px;
    font-weight: bold;
    color: #2c8e78;
}

.navbar-default .navbar-title h1:hover {
    color: rgba(0, 0, 0, 0.7);
}

.navbar-default .navbar-nav > li > a {
    font-size: 28px;
    font-weight: bold;
    color: #666;
    height: 70px;
    line-height: 55px;
}

.navbar-toggle {
    margin-top: 17px;
}

.navbar-default .navbar-toggle:hover {
    border-color: #40D2B1;
    background-color: #45d2b8;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #1C9982;
}

.navbar-header .navbar-brand {
    margin-left: 10%;
}

.navbar-collapse {
    text-align: right;
}

/*carousel*/
#myCarousel {
    width: 100%;
}

#myCarousel .carousel-inner .item .carousel-caption {
    height: 100%;
    position: absolute;
    top: 0;
}

#myCarousel .carousel-inner .item .carousel-caption .btn {
    position: absolute;
    bottom: 20%;
    height: 50px;
    width: 200px;
    font-size: 20px;
    margin-left: -100px;
}

#myCarousel img {
    width: 100%;
    max-height: 500px;
}

/*introduction*/
.about {
    padding: 80px 0;
}

.about:nth-of-type(1) {
    background: #f8f8f8;
}

.about:nth-of-type(2) {
    background: #f1f1f1;
}

.about h2 {
    font-weight: bold;
}

.about p {
    line-height: 25px;
    font-size: 20px;
}

.icon {
    background: #40d2b1;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 20px;
}

/*mobile device responsive design*/
@media screen and (max-width: 767px) {
    body {
        padding-top: 110px;
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-default .navbar-brand {
        height: 55px;
        top: 50%;
    }

    .navbar-default .navbar-brand img {
        width: 43.5px;
        height: 40px;
    }

    .navbar-default .navbar-title {
        text-decoration: none;
    }

    .navbar-default .navbar-title h1 {
        font-size: 20px;
        width: 400px;
        font-weight: bold;
        color: #2c8e78;
    }

    .navbar-default .navbar-title h1:hover {
        color: rgba(0, 0, 0, 0.7);
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 14px;
        font-weight: bold;
        color: #666;
        height: 35px;
        line-height: 27.5px;
    }

    #myCarousel {
        height: 225px;
        margin-top: -20px;
        right: 0;
    }

    #myCarousel .carousel-inner .item .carousel-caption {
        position: absolute;
        height: 225px;
        z-index: 1000;
        top: 0;
    }

    #myCarousel .carousel-inner .item .carousel-caption .btn {
        z-index: 10000;
        position: absolute;
        height: 30px;
        width: 100px;
        font-size: 10px;
        bottom: 20%;
        margin-left: -50px;
    }

    #myCarousel img {
        width: 100%;
        height: 225px;
    }
}
