<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/registration.css">

</head>
<body>
<div class="wrapper">
    <form name="signUpForm">
        <div class="form-group">
            <label>User Name:</label>
            <input name="username" placeholder="Your username" type="text" class="form-control" ng-model="username"
                   required>
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input name="password" placeholder="Your password" type="password" class="form-control" ng-model="password"
                   required>
        </div>
        <button class="btn btn-success" ng-click="login()">Login</button>
        <br>
        <span>{{responseMessage}}</span>
    </form>
</div>
</body>
</html>